.percentageColumn {
  text-align: center;
}

.logConsumptionContainer {
  button {
    margin-right: 1rem;
  }
  margin-bottom: 4rem;
}

.consumptionTableContainer {
  padding-right: 1rem;
}

.leaderboardTableContainer {
  padding-left: 1rem;
}

.undoButton {
  margin-left: 3rem;
}

.totalConsumption {
  margin-top: -6rem;
  margin-bottom: 1.6rem;
  font-size: 11rem;
}

.leetAnimation {
  .dateCont {
    position:absolute;
    margin-top: -1.5rem;
    animation-name: leet;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
}

@keyframes leet {
  0% {
  }
  50% {
    margin-top: -1.8rem;
    font-weight: bold;
    font-size: 2.2rem
  }
  100% {
  }
}
