.percentageColumn {
  text-align: center;
}

.logConsumptionContainer {
  button {
    margin-right: 1rem;
  }
  margin-bottom: 4rem;
}

.consumptionTableContainer {
  padding-right: 1rem;
}

.leaderboardTableContainer {
  padding-left: 1rem;
}

.undoButton {
  margin-left: 3rem;
}
